SERVER_PORT=6007

# USE posm's ip and port 81 as OSM_BASE_URL
OSM_BASE_URL=http://192.168.31.127:81
POSM_DB_HOST=192.168.31.127
POSM_DB_NAME=osm
POSM_DB_USER=osm
POSM_DB_PASSWORD=pass-word
AOI_ROOT=/aoi
AOI_NAME=Jawalakhel
ORIGINAL_AOI_NAME=jawalakhel.osm

# For osmosis, because it is run outside docker
OSMOSIS_DB_HOST=192.168.31.127
OSMOSIS_AOI_ROOT=/opt/data/aoi

# DB setting for server app
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=password

OAUTH_CONSUMER_KEY=consumerkeyLSDFJKDSLFKJsldkfjsdl
OAUTH_CONSUMER_SECRET=consumersecretLSDFJKDSLFKJsldkfjsdl
OAUTH_API_URL=https://master.apis.dev.openstreetmap.org

REQUEST_TOKEN_URL=https://master.apis.dev.openstreetmap.org/oauth/request_token
ACCESS_TOKEN_URL=https://master.apis.dev.openstreetmap.org/oauth/access_token
AUTHORIZE_URL=https://master.apis.dev.openstreetmap.org/oauth/authorize
